$grey: #546a76;
$black: #0d090a;
$white: #ebebeb;
$yellow: #fcaf58;
$standardRadius: 20px;
$linkColor: #284b63;
$linkHoverColor: #d2d6d8;
$cardContent: #fdfffc;

.highlight{
    color: $yellow;
}

.orange{
    color: #cc7832;
}

.green{
    color: #5c633c;
}

.violet{
    color: #98769a;
}

.grey{
    color: #a9a5a9;
}